<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rsa.sight">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="rsa.sight.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/sight"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">



        <activity
            android:name="rsa.sight.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="rsa.sight.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rsa.sight.MenuPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name="rsa.sight.PerfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rsa.sight.DenunciasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rsa.sight.FichaMedicaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rsa.sight.VecinosConfianzaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rsa.sight.AgregarVecinoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rsa.sight.RoboActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="rsa.sight.SosActivity"
            android:screenOrientation="portrait" />
        <activity android:name="rsa.sight.ConfigActivity"></activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAV8fmtvWbXpOBxoHIaBZpOyJMm_iTR6e8"


            />

        <meta-data
            tools:replace="android:value"
            android:name="android.support.VERSION"
            android:value="26.1.0" />


        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>

            </intent-filter>
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/sight" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fcm"/>

        <meta-data android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <meta-data android:name="firebase_analytics_collection_enabled"
            android:value="false" />






    </application>

</manifest>